.container{
    max-width: 600px;
}
.btn{
    background: #bd266f;
    color: white;
    outline: none !important;
    box-shadow: none !important;
}
.btn:focus{
    outline: none !important;
}
.username{
    font-weight: bold;
}
.time{
    font-size: 0.7em;
    color: #9999;
}
.update-msg{
    text-align: center;
    margin: 20px auto;
}

@font-face {
    font-family: 'K26ComicKats Medium';
    font-style: normal;
    font-weight: normal;
    src: local('K26ComicKats Medium'), url('/static/css/K26ComicKats.woff') format('woff');
}

h1 {
    font-family: 'K26ComicKats Medium';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
